[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
praw = "*"
pymongo = "*"
python-dotenv = "*"
apscheduler = "*"
thefuzz = "*"
selenium = "*"
webdriver-manager = ">=4.0.0*"
bs4 = "*"
pyinstaller = "*"
pywin32 = "*"
swinlnk = "*"
chardet = "*"
pytest = "*"
pillow = "*"
undetected-chromedriver = "*"

[dev-packages]
autopep8 = "*"
